@model Role
<br />
<h2 class="text-warning">Role Update: @Model.roleName</h2>
<br />
<div>
    <form asp-controller="Panel" asp-action="UpdateRole" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@Model.roleId"/>
        <input asp-for="@Model.roleName" type="text" class="form-control" placeholder="Name">
        <br />
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-warning p-2" value="Update Role" />
        </div>
    </form>
</div>
